{{#if question}}

<div class="text-center">{{question.content}}</div>

<a class="" href="/question/{{question.id}}/yes"><button class="btn btn-primary">Yes</button></a>
<a class="" href="/question/{{question.id}}/no"><button class="btn btn-success">No</button></a>
{{else}}

<h1>Q is empty</h1>

{{/if}}

{{!-- <form action="/question/{{question.id}}" method="POST">
    <input type="submit" value="yes" name="vote">
    <input type="submit" value="no" name="vote">
</form> --}}