{{#if question}}

<h1 class="text-center">{{question.content}}</h1>
<div class="row mt-5">
    <div class="col-md-6 text-center">
        <a  href="/question/{{question.id}}/yes"><button class="btn btn-primary w-100"><i class="fas fa-thumbs-up"></i>Yes {{question.yes}}</button></a>
    </div>
    <div class="col-md-6 text-center">
        <a  href="/question/{{question.id}}/no"><button class="btn btn-success w-100"><i class="fas fa-thumbs-down"></i>No {{question.no}}</button></a>
    </div>
</div>

<div class="mt-5 text-center">
    <a href="/ask" class="text-white"><button type="button" class="btn btn-success col-md-1">Ask</button></a>
    <a href="#" class="text-white"><button type="button" class="btn btn-danger col-md-1 btn-next-question">Other question</button></a>
    
</div>

{{else}}

<h1>Q is empty</h1>

{{/if}}

<script>
    $(".btn-next-question").click(function(){
        e.preventDefault();
        $.ajax({
            url: '/api/question',
            type: 'GET',
            success: function(respone){
               if(res.success){
                   $('h1').text(res.question.content)
                   $('.btn-primary').attr("href", `/question/${res.question._id}/yes`)
                   $('.btn-success').attr("href", `/question/${res.question._id}/no`)
               }
            },
            error: function(respone){
                console.log("Error",respone);
            }
        })
    })
</script>